body {
  padding-top: 4rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

.App {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 56px;
}

.App-logo {
  display: inline-block !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-header {
  background-color: #e6e6e6;
  padding: 15px;
  font-weight: bold;
  text-align: center;
}

.chat-message-view-header {
  background-color: #e6e6e6;
  padding-top: 13px;
  padding-bottom: 12px;
  font-weight: bold;
  text-align: center;
  margin: 0 -15px 10px -15px;
}

.btn-primary {
  background-color: #31465f;
  border-color: #31465f;
}

.btn-primary:hover {
  background-color: #152939;
  border-color: #152939;
}

.border-primary {
  border-color: #007eb9!important;
}

.border-neutral {
  border-color: #828282!important;
}

.text-primary {
  color: #007eb9!important;
}

.text-neutral {
  color: #828282!important;
}